<!-- container holding the about page talking about our recipes, feedback, and contact info -->
<div class="container">
      <!-- Recipe column using bootstrap to make it into column form-->
      <div id="recipes" class="row">
        <div class=" col-sm-6 col-md-4">
			<div class="thumbnail">
				<div class="caption">
					<!--title of column -->
					<h2>Our Recipes</h2>
					<!-- holds the image of the food -->
					<img id = "expic" src = "http://find-recipes.com/images/meals/landolakes_italianbeefroast-fall.jpg" alt = "..">
					<!-- information on recipes -->
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
				</div>
			</div>
		</div>
		<!-- Feedback column using bootstrap to make it into column form-->
        <div "reviews" class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<div class="caption">	
					<!--title of column -->
					<h2>Feedback</h2>
					<!-- holds the image of the food -->
					<img id = "expic" src = "http://find-recipes.com/images/meals/landolakes_koreantacos-fall.jpg" alt = "...">
					<!-- information on feedback -->
					<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
				</div>	
			</div>
	   </div>
	   <!-- contact column using bootstrap to make it into column form-->
        <div id "contact" class="col-sm-6 col-md-4">
          <div class="thumbnail">
			<div class="caption">
				<!--title--> 
				<h2>Contact Us</h2>
				<!--holds the image of the food -->
				<img id = "expic" src = "http://www.twodognursery.com/Other-veggies/Shishito%20Pepper.jpg" alt = "...">
				<!-- information on contact info -->
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			</div>
			</div> 			
		</div>
      </div>

      <hr>
