	<!-- div holds contents of the home page; using container class from bootstrap--> 
	<div class="container" >
	<!-- title of page-->
	<h1>Let's Get Cooking</h1>
	<!-- overview of the website-->
	<p class="lead"> Welcome to Young Eats! Please select one of the following buttons to search either by meal or by ingredient.</p>
	<!--button that links to meal select page-->
	<a <button role="button" href="/#/mealSelect" class="btn btn-lg btn-primary" >Meal </button> </a>
	<!--button that links to ingredient select page -->
	<a <button type="button" href="/#/ingredSearch" class="btn btn-lg btn-primary">Ingredient</button> </a>
	</div>	
