<!-- Title of the Meal Select page-->
<h1 style = "text-align: center;font-family: Josefin Slab;
	font-size:	200%;text-decoration:none;color:white;font-weight:bold;">I'm hungry for...</h1> 
	<!-- div element that holds all of the meal selections --> 
	<div class="chooseFilters">
		<div class="mealcontainer">
				<ul style = "text-align: center">
					<!--when pressed, will link to breakfast item results -->
					<a href="/#/breakfast" > <li style="color:black; font-weight:bold">Breakfast</li></a>
					<!-- when pressed will link to lunch item results -->
					<a href="/#/lunch" > <li style="color:black; font-weight:bold">&nbsp;Lunch &nbsp;</li></a>
					<!-- when pressed will link to dinner item results -->
					<a href="/#/dinner"> <li style="color:black; font-weight:bold">&nbsp;Dinner&nbsp;</li></a>
					<!-- when pressed will link to snack item results -->
					<a href="/#/snack" > <li style="color:black; font-weight:bold">&nbsp;&nbsp;Snack&nbsp;&nbsp;</li></a>
				</ul>
		</div>
	</div>	