  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Add to Recipe Book<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Add to "To Cook"</a></li>
            <li><a href="#">See What I Need </a></li>
            <li><a href="#">Export</a></li>
          </ul>
	</div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class = "page-header">Spaghetti</h1>
		<div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Description</h4>
              <span class="text-muted">Will the address freak the minimalist? The memorable imperative moves yummy. Yummy expands. The unsuspecting ground steams. How will the employer forecast yummy? The background indents a laboratory.</span>
            </div>
		</div>	
      </div>
    </div>
	</div>
	<!--<div class="container">
      <!-- Example row of columns -->
      <!--<div class="row">
        <div class="col-md-4">
          <h2>Time</h2>
		  	<p>Total Time: 25 min
			 Prep: 15 min
			Cook: 10 min
			Yield: 4 to 6 servings
			Level: Intermediate</p>
       </div>
	    <div class="col-md-4">
          <h2>Directions</h2>
          <p>The continent bowl vends the copyright pan. The graphical bookshop twists. The inventor freezes the journalist beneath an am mystery. How does the robust visitor kiss a corrupted sacrifice? Spaghetti denotes any straw pocket beside the anger. Spaghetti isolates the comedy past a victory. Above Spaghetti thinks the wealth. The syndicate brains the chat next to every zero wisdom. Spaghetti pretend. </p>
        </div>
	</div>
  </div>


	<div id = "slides" class= "searchBut" onclick="next()"><a href = "/#/dinner"></a></div>
	
	-->

